<header id="header-title"><h1 class="brown text-center"><%= title%></h1></header>
<div class="row">
<div class="col-xs-offset-1 col-xs-2"><i class="fa fa-arrow-circle-o-left fa-3x back-to-map"></i></div>
</div>
<div class="test-container">
    <h3 id="instruction">Виберіть правильний варіант:</h3>
    <div class="test">
        <h1 id="pl"><%= tests.sentence%></h1>
        <h4 id="uk">(<%= tests.trans%>)</h4>
        <h5 id="help-block" style="visibility: hidden">Неправильна відповідь. Спробуйте ще раз :)</h5>
        <form class="variants">
            <div class="radio">
                <label><input type="radio" name="optradio" id="0"><%= tests.variants[0]%></label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" id="1"><%= tests.variants[1]%></label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" id="2"><%= tests.variants[2]%></label>
            </div>
            <div class="radio">
                <label><input type="radio" name="optradio" id="3"><%= tests.variants[3]%></label>
            </div>
        </form>
        <div class="row">
            <div class="col-xs-5" style="text-align: right"><button class="btn btn-default" id="prev-test"><i class="fa fa-arrow-left"></i> Назад</button></div>
            <div class="col-xs-offset-2 col-xs-5" style="text-align: left"><button class="btn btn-default" id="check-test">Перевірити <i class="fa fa-arrow-right"></i></button></div>
            <div class="col-xs-offset-2 col-xs-5" style="text-align: left"><button class="btn btn-default" id="finish-test" style="display: none;">Завершити <i class="fa fa-arrow-right"></i></button></div>
        </div>
    </div>
</div>